<%= form_for(@cue) do |f| %>
  <% if @cue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cue.errors.count, "error") %> prohibited this cue from being saved:</h2>

      <ul>
      <% @cue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <%= f.text_area :body, placeholder: "Cue Card Content Here", rows:2, id:"expand" %>  
      <center>
      <%= f.submit "Create Your Cue Card Now!", class: "button success"%>  
      </center>
<% end %>
