<div class="row">
<div class="nine columns centered">
<h1 id="heading">CueMaker</h1>
<p class="subheader">Don't want to waste time making cuecards for your PW? You're at the right place (:</p>
<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cues.each do |cue| %>
  <tr>
    <td><%= cue.body %></td>
    <td><%= link_to 'Show', cue %></td>
    <td><%= link_to 'Edit', edit_cue_path(cue) %></td>
    <td><%= link_to 'Destroy', cue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>

<%= link_to 'New Cue', new_cue_path %>
</div>
</div>